# Binaries
**/bin/
!vendor/premake/bin/
bin-int/

# Hazel files
*.log

# Visual Studio files and folder
.xcworkspace/
.vs/
.vscode/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# XCode files and folder
**.xcodeproj
**..xcworkspace/
